@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

html {
  --primary-color: #4e483d; /* Оранжевий колір */
  --secondary-color: #aeb0b5; /* Темно-синій колір */
}

html,
body {
  margin: 0;
}

body {
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Luckiest Guy", cursive;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  letter-spacing: 0.1em;
}

.heading {
  font-size: 3em; /* Збільшив розмір заголовку */
}

.description {
  font-size: 1.5em;
  margin-top: 0.5em; /* Додав відступ від заголовка */
}

#game-board {
  display: grid;
  gap: 1em;
  margin-top: 2em; /* Збільшив відступ від опису */
  grid-template-columns: repeat(4, 1fr); /* За замовчуванням для розміру 4x4 */
}

#new-game-button,
#start-game-button {
  border: none;
  border-radius: 2em; /* Збільшив радіус кнопок */
  padding: 0.5em 1.5em;
  background: var(--primary-color);
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  transition: opacity 0.2s ease-in-out;
  font-size: 1.2em; /* Збільшив розмір тексту */
  font-family: inherit;
  letter-spacing: inherit;
}

#new-game-button:hover,
#start-game-button:hover {
  opacity: 0.8;
  transform: scale(1.05); /* Збільшив розмір кнопок при наведенні */
}

.card {
  width: 7em; /* Збільшив розмір карток */
  height: 7em;
  perspective: 50em;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card.visible .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 1em; /* Збільшив радіус кутів карток */
  box-shadow: 0.1em 0.1em 0.3em 0 rgba(0, 0, 0, 0.2); /* Змінив тінь */
  font-size: 3em; /* Збільшив розмір символів */
  color: white;
}

.card-back {
  transform: rotateY(180deg);
}

@media (max-width: 768px) {
  #game-board {
    grid-template-columns: repeat(2, 1fr);
  }
}
